@import "_bootstrap.sass"

header
  background-color: $primary
  color: $color-w
  padding: 10px 0
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0px
  margin-bottom: 30px
  .container
    display: grid
    grid-template-columns: 70% 30%
    @include breakpoint(phablet)
      grid-template-columns: 100%
      justify-items: center
  h1
    font-size: 3em
    margin: 0
    a
      color: $color-w !important
    @include breakpoint(phablet)
      text-align: center

  form
    display: flex
    @include breakpoint(phablet)
      margin-top: 50px
