@import "_bootstrap.sass"

header
  background-color: $primary
  color: $color-w
  padding: 10px 0
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0px
  margin-bottom: 30px
  h1
    font-size: 3em
    margin: 0
    a
      color: $color-w !important
    @include breakpoint(phablet)
      text-align: center
